body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f8faf6;
}

.header {
    font-family: 'Roboto Mono', monospace;
    height: 100px;
    text-align: left;
    background: #323e2a;
    color: white;
    font-size: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.title {
    width: 45%;
    margin-left: 20px;
    float: left;
}

.nav {
    margin-top: 40px;
    width: 45%;
    float: right;
    overflow: hidden;
}
  
.nav a {
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 16px;
}
  
.nav a:hover {
    color: white;
}
  
.nav a.active {
    color: white;
    font-weight: bolder; 

}

.aboutme {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 400px;
    margin: auto;
    margin-bottom: 7%;
    margin-top: 7%;

}

.aboutmetext {
    width: 50%;
    height: 500px;
    float: left;
}

.aboutme h2{
    margin-left: 15%;
    margin-right: 15%;
}

.aboutme p {
    margin-left: 15%;
    margin-right: 15%;
}

.aboutmepic {
    margin-left: 50%;
    height: 500px;
}

.aboutme img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.education {
    height: 500px;
}

.cornell {
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 50px;
}

.cornelltext {
    width: 65%;
    height: 250px;
    float: left;
}

.cornelltext ul {
    margin-right: 20px;
}

.cornellpic {
    margin-left: 35%;
    height: 250px;
}

.cornellpic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.allprojects{ 
    height: 500px;
}

.project {
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}

.projecttext {
    width: 60%;
    height: 300px;
    float:right;
}

.projectpic {
    height: 300px;
    float:left;
    width: 35%;
}

.projectpic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.contact {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 50px;
    margin: auto;
}

.contact p {
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: #3f9e00;
    font-weight: bold;
}

.experience {
    height: 400px;
}

.spectrum {
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 50px;
}

.spectrumtext {
    width: 65%;
    height: 250px;
    float: left;
}

.spectrumtext ul {
    margin-right: 20px;
}

.spectrumpic {
    margin-left: 35%;
    height: 250px;
}

.spectrumpic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.profprojects {
    font-family: 'Roboto Mono', monospace;
    width: 85%;
    height: 500px;
    margin: auto;
}

.profprojects h2 {
    text-align: center;

}

.outerdivproject {
    background: #323e2a;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 4%;
    padding-right: 4%;
}

.individualproject {
    margin-bottom: 50px;
    margin-top: 50px;
}

.leadership {
    font-family: 'Roboto Mono', monospace;
    width: 85%;
    height: 725px;
    margin: auto;
}
