* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #fcfdfc;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

/* Header and Nav */
header {
    font-family: 'Roboto Mono', monospace;
    height: 100px;
    text-align: left;
    background: #323e2a;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

header .title {
    color: white;
    height: inherit;
    float: left;
    margin-left: 20px;
}

header ul {
    margin-top: 0px;
    float: right;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
}

header ul li a {
    color: rgba(255, 255, 255, 0.705);;
    display: block;
    padding: 20px;
    text-decoration: none;
}

header .menu {
    display: none;
}

header ul li a:hover {
    color: white;
}

header ul li a.active {
    color: white;
}

/* About Me Page */
.aboutme {
    font-family: 'Roboto Mono', monospace;
    width: 60%;
    margin: auto;
    height: 700px;
}

.aboutmetext {
    width: 50%;
    float: left;
}

.aboutmetext p {
    margin-right: 20px;
}

.aboutmetext h2 {
    margin-right: 20px;
}

.aboutmepic {
    width: 50%;
    margin-top: 40px;
    float: right;
}

.aboutme img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 348px;  
    height: 464px;
}

/* Projects Page */
.allprojects{ 
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    color: black;
}

.project {
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    height: 100%;
    margin: auto;
}

.projecttext {
    width: 60%;
    height: 100%;
    float:left;
    margin-bottom: 100px;
}

.projectpic {
    height: 100%;
    float:right;
    width: 35%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.projectpic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 100px;
}

.project2 {
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    height: 1000%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.subreddit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;

}

.outerdivproject {
    color: black;
    width: 80%;
    margin: auto;
}

.individualproject {
    margin-bottom: 50px;
    margin-top: 50px;
}

.leadership {
    font-family: 'Roboto Mono', monospace;
    width: 85%;
    height: 800px;
    margin: auto;
    margin-bottom: 50px;
}


/* Footer */
.contact {
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #323e2a;
    width: 100%;
    height: 50px;
    margin-top: 200px;
}

.contact p {
    text-align: center;
    color: white;
}

.contact a {
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 1100px) {
    .show {
        max-height: none;
    }

    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: #323e2adc;
        max-height: 0px;
        overflow: hidden;
    }

    header ul  li {
        width: 100%;
    } 

    header .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 30px;
    }

    .aboutme {
        font-family: 'Roboto Mono', monospace;
        width: 60%;
        margin: auto;
        height: 100%;
    }
    .aboutmetext {
        height: 100%;
        width: 100%;
    }

    .aboutmepic {
        height: 100%;
        width: 100%;
        margin-bottom: 30%;
    }

    .leadership {
        height: 1000px;
    }

}

@media only screen and (max-width: 700px) {
    .leadership {
        height: 1300px;
    }

    .project {
        font-family: 'Roboto Mono', monospace;
        width: 80%;
        height: 100%;
        margin: auto;
        margin-top: 50px;
    }
    
    .projecttext {
        width: 100%;
        height: 100%;
        float:left;
        margin-bottom: 100px;
    }
    
    .projectpic {
        height: 100%;
        float:right;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    
    .projectpic img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 100px;
    }
}



